# Terraform state files
*.tfstate
*.tfstate.backup
*.tfstate.*

# Terraform variables files containing sensitive data
*.tfvars

# Local .terraform directories
.terraform/
.terraform.lock.hcl

# Crash log files
crash.log
